<div class="card cursor-pointer" [routerLink]="['/post', PostData.id]" >
    <img class="card-img-top" [src]="PostData?.data?.postImgPath" alt="Card image cap">
    <div class="card-body">
      <small class="bg-light text-danger text-center p-2">{{PostData?.data?.category.category}}</small>
      <small class="bg-light text-success text-center ml-3 p-2">{{(PostData?.data?.isFeatured) ? 'Featured' : 'Not Featured'}}</small>
      <small class="bg-light text-info text-center ml-3 p-2">Views - {{PostData?.data?.views}}</small>
      <h5 class="card-title mt-1">{{PostData?.data?.title}}</h5>
      <p class="card-text">{{PostData?.data?.excerpt}}.</p>
      <small class="bg-light text-warning text-center ml-3 p-2">Last Updated - {{PostData?.data?.createdAt.toMillis() | date}}</small>
    </div>
  </div>
